{% extends 'base.html' %}

{% block content %}
<section id="sb-id-5082ac71-da46-484e-8bdf-e0aab182c698" class="bg-fixed bg-cover bg-center">
    <div class="container mx-auto px-4 py-32 items-center justify-center">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
            <!-- Imagem -->
            <div data-aos="fade-in" data-aos-offset="120" data-aos-duration="400">
                <img src="https://cdn.b12.io/client_media/GidfkLdi/61390dba-bd53-11ef-9fe8-0242ac110002-jpg-hero_image.jpeg"
                    alt="Web development, responsive design, user friendly, Python, Flask"
                    class="w-full h-auto rounded-lg shadow-lg" />
            </div>
            <!-- Texto -->
            <div class="space-y-6">
                <!-- Título -->
                <h2 class="text-3xl md:text-4xl font-bold text-gray-800" data-aos="slide-up" data-aos-offset="120"
                    data-aos-duration="400">
                    Cloud Solutions
                </h2>
                <!-- Parágrafo -->
                <p class="text-lg text-gray-600 leading-relaxed" data-aos="slide-up" data-aos-offset="120"
                    data-aos-delay="100" data-aos-duration="400">
                    Elevate your business operations with advanced cloud solutions designed for scalability and
                    efficiency. I utilize AWS technologies to create robust, secure, and flexible cloud architectures
                    that adapt to your growing needs. My approach ensures that you benefit from the latest cloud
                    innovations, enhancing collaboration and accessibility while keeping your data safe. Whether you
                    need cloud migration, optimization, or ongoing support, I provide comprehensive services that
                    empower your team to work smarter. Experience the freedom and flexibility of the cloud, and let me
                    help you maximize your investment in technology.
                </p>
                <!-- Botão -->
                <div data-aos="slide-up" data-aos-offset="120" data-aos-delay="200" data-aos-duration="400">
                    <a href="/schedule"><button
                            class="text-lg font-large bg-gray-800 text-white hover:bg-gray-200 hover:text-black font-bold py-2 px-4 border hover:border-transparent">
                            Schedule appointment
                        </button></a>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}