{% extends 'base.html' %}

{% block content %}
<section id="sb-id-5082ac71-da46-484e-8bdf-e0aab182c698" class="bg-fixed bg-cover bg-center">
    <div class="container mx-auto px-4 py-32 items-center justify-center">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
            <!-- Imagem -->
            <div data-aos="fade-in" data-aos-offset="120" data-aos-duration="400">
                <img src="https://cdn.b12.io/client_media/GidfkLdi/6266729a-bd53-11ef-9fe8-0242ac110002-jpg-hero_image.jpeg"
                    alt="Web development, responsive design, user friendly, Python, Flask"
                    class="w-full h-auto rounded-lg shadow-lg" />
            </div>
            <!-- Texto -->
            <div class="space-y-6">
                <!-- Título -->
                <h2 class="text-3xl md:text-4xl font-bold text-gray-800" data-aos="slide-up" data-aos-offset="120"
                    data-aos-duration="400">
                    Database Management
                </h2>
                <!-- Parágrafo -->
                <p class="text-lg text-gray-600 leading-relaxed" data-aos="slide-up" data-aos-offset="120"
                    data-aos-delay="100" data-aos-duration="400">
                    Unlock the full potential of your data with expert database management services. I specialize in
                    MySQL and PostgreSQL, designing efficient database structures that ensure optimal performance and
                    security. From initial setup to ongoing maintenance, I focus on creating solutions that facilitate
                    easy data retrieval and management. My attention to detail guarantees data integrity while
                    implementing best practices for backup and recovery. By understanding your unique requirements, I
                    provide tailored strategies that enhance your operational efficiency and support your data-driven
                    decisions. Trust me to manage your data effectively and empower your business.
                </p>
                <!-- Botão -->
                <div data-aos="slide-up" data-aos-offset="120" data-aos-delay="200" data-aos-duration="400">
                    <a href="/schedule"><button
                            class="text-lg font-large bg-gray-800 text-white hover:bg-gray-200 hover:text-black font-bold py-2 px-4 border hover:border-transparent">
                            Schedule appointment
                        </button></a>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}