{% extends "base.html" %}

{% block content %}
<!-- Hero Section -->
<section id="home" class="relative min-h-screen bg-cover bg-center" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), 
    url('https://cdn.b12.io/client_media/GidfkLdi/5d655f86-bd53-11ef-9fe8-0242ac110002-jpg-hero_image.jpeg');">

    <div class="container mx-auto flex px-8 items-center justify-left h-screen">
        <div class="text-white">
            <h1 class="text-5xl font-bold mb-4" data-aos="slide-up" data-aos-offset="120" data-aos-delay="0"
                data-aos-duration="400" data-aos-easing="ease-in-out">
                Pedro Garcia
            </h1>
            <h2 class="text-2xl mb-4" data-aos="slide-up" data-aos-offset="120" data-aos-delay="50"
                data-aos-duration="400" data-aos-easing="ease-in-out">
                A results-driven business dedicated to helping clients achieve their goals
            </h2>
            <p class="mb-6" data-aos="slide-up" data-aos-offset="120" data-aos-delay="100" data-aos-duration="400"
                data-aos-easing="ease-in-out">
                <!-- Parágrafo opcional aqui -->
            </p>
            <div class="mt-4" data-aos="slide-up" data-aos-offset="120" data-aos-delay="150" data-aos-duration="400"
                data-aos-easing="ease-in-out">
                <a href="/#services"
                    class="bg-white text-black px-6 py-3 rounded hover:bg-gray-700 hover:text-white transition duration-300">
                    View services
                </a>
            </div>
        </div>
    </div>
</section>


<!-- About Section -->
<section id="about" class="bg-gray-100 py-16">
    <div class="container mx-auto px-4">
        <div class="flex flex-col lg:flex-row items-center">
            <div class="lg:w-1/2 mb-8 lg:mb-0">
                <div class="">
                    <h2 class="text-3xl font-bold mb-2" data-aos="slide-up" data-aos-offset="120" data-aos-delay="0"
                        data-aos-duration="400">Innovative Developer</h2>
                    <h3 class="text-xl text-gray-600 mb-4" data-aos="slide-up" data-aos-offset="120" data-aos-delay="50"
                        data-aos-duration="400">Crafting solutions with code</h3>
                    <p class="text-gray-700 mb-6" data-aos="slide-up" data-aos-offset="120" data-aos-delay="100"
                        data-aos-duration="400">
                        Pedro Garcia is a skilled developer based in São José dos Campos, BR, specializing in Python, 
                        Flask, Java, Kotlin, MySQL, PostgreSQL, Git, GitHub, HTML, CSS, Figma, and AWS. With a passion
                        for building efficient and scalable applications, Pedro brings a wealth of experience to each
                        project. His portfolio showcases not only his technical prowess but also his commitment to
                        delivering high-quality solutions that meet client needs and push the boundaries of what's
                        possible in software development.
                    </p>
                    <a href="#contact" class="text-black underline py-2" data-aos="slide-up" data-aos-offset="120"
                        data-aos-delay="200" data-aos-duration="400">Get in touch</a>
                </div>
            </div>
            <div class="lg:w-1/2 px-4">
                <figure class="flex justify-center" data-aos="fade-in" data-aos-offset="120" data-aos-delay="0"
                    data-aos-duration="400">
                    <img src="https://cdn.b12.io/media/e69284b4-3cc2-11e8-9f69-0242ac11000f-jpg-hero_image.jpeg"
                        alt="Pedro Garcia" class="object-cover w-full h-full rounded" loading="lazy">
                </figure>
            </div>
        </div>
    </div>
</section>



<!-- Services Section -->
<section id="services" class="bg-gray-300 py-24">
    <div class="container mx-auto px-4">
      <div class="text-center mb-12">
        <h2 class="text-3xl font-bold mb-4">Expert Development</h2>
        <p class="text-lg text-gray-600">Bringing your ideas to life with code</p>
        <div class="py-6" style="display: flex; justify-content: center; flex-wrap: wrap; gap: 10px;">
          <img alt="Python" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg">
          <img alt="Flask" height="30" width="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/flask/flask-original.svg">
          <img alt="Java" height="30" width="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg">
          <img alt="Kotlin" height="30" width="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/kotlin/kotlin-original.svg">
          <img alt="AndroidStudio" height="30" width="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/androidstudio/androidstudio-original.svg">
          <img alt="HTML" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg">
          <img alt="CSS" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg">
          <img alt="Bootstrap" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-original.svg">
          <img alt="Tailwind" height="30" width="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg">
          <img alt="MySQL" height="30" width="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg">
          <img alt="PosgreSQL" height="30" width="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg" />
          <img alt="sqlite" height="30" width="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sqlite/sqlite-original.svg">
          <img alt="linux" height="30" width="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linux/linux-original.svg">
          <img alt="aws" height="30" width="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/amazonwebservices/amazonwebservices-plain-wordmark.svg">
          <img alt="Git" height="30" width="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg">
          <img alt="GitHub" height="30" width="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg">
          <img alt="Figma" height="30" width="40" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg">
      </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Web Development -->
        <a href="/services/web_development" class="bg-white shadow-lg hover:shadow-xl rounded-lg overflow-hidden transform hover:scale-105 transition">
          <div class="h-48 bg-cover bg-center" style="background-image: url('https://cdn.b12.io/client_media/GidfkLdi/6266729a-bd53-11ef-9fe8-0242ac110002-jpg-hero_image.jpeg');"></div>
          <div class="p-6">
            <h3 class="text-xl font-semibold mb-2">Web Development</h3>
            <p class="text-gray-600">Crafting responsive and user-friendly websites.</p>
          </div>
        </a>
        <!-- Database Management -->
        <a href="/services/database_management" class="bg-white shadow-lg hover:shadow-xl rounded-lg overflow-hidden transform hover:scale-105 transition">
          <div class="h-48 bg-cover bg-center" style="background-image: url('https://cdn.b12.io/client_media/GidfkLdi/617f2192-bd53-11ef-9fe8-0242ac110002-jpg-hero_image.jpeg');"></div>
          <div class="p-6">
            <h3 class="text-xl font-semibold mb-2">Database Management</h3>
            <p class="text-gray-600">Optimizing data storage and retrieval.</p>
          </div>
        </a>
        <!-- Cloud Solutions -->
        <a href="/services/cloud_solutions" class="bg-white shadow-lg hover:shadow-xl rounded-lg overflow-hidden transform hover:scale-105 transition">
          <div class="h-48 bg-cover bg-center" style="background-image: url('https://cdn.b12.io/client_media/GidfkLdi/61390dba-bd53-11ef-9fe8-0242ac110002-jpg-hero_image.jpeg');"></div>
          <div class="p-6">
            <h3 class="text-xl font-semibold mb-2">Cloud Solutions</h3>
            <p class="text-gray-600">Harnessing the power of cloud technologies.</p>
          </div>
        </a>
        <!-- Mobile Development -->
        <a href="/services/mobile_development" class="bg-white shadow-lg hover:shadow-xl rounded-lg overflow-hidden transform hover:scale-105 transition">
          <div class="h-48 bg-cover bg-center" style="background-image: url('https://cdn.b12.io/client_media/GidfkLdi/361911b0-bd54-11ef-96ee-0242ac110002-jpg-hero_image.jpeg');"></div>
          <div class="p-6">
            <h3 class="text-xl font-semibold mb-2">Mobile Development</h3>
            <p class="text-gray-600">Building intuitive mobile applications.</p>
          </div>
        </a>
      </div>
    </div>
  </section>
  

<!-- Contact Section -->
<section id="contact" class="bg-light option-link-decoration-border-bottom-static">
    <div class="container mx-auto">
        <div class="flex flex-wrap py-24 text-center items-center justify-center">
            <div class="w-full lg:w-1/3 px-4">
                <div class="contact-full">
                    <div class="contact-full__form" id="contact-form">
                        <h2 class="text-2xl font-bold" data-aos="slide-up" data-aos-delay="0">Get in touch</h2>
                        <p class="text-lg mt-2" data-aos="slide-up" data-aos-delay="50">Let's discuss your project today!</p>
                        <form class="mt-6" method="POST" action="/get_in_touch">
                            <div class="mb-4">
                                <label for="name" class="block text-left mb-1">Name <span class="text-red-500">*</span></label>
                                <input required id="name" name="name" type="text" placeholder="Jane Smith" class="w-full px-3 py-2 border rounded" />
                            </div>
                            <div class="mb-4">
                                <label for="email" class="block text-left mb-1">Email address <span class="text-red-500">*</span></label>
                                <input required id="email" name="email" type="email" placeholder="email@website.com" class="w-full px-3 py-2 border rounded" />
                            </div>
                            <div class="mb-4">
                                <label for="phone" class="block text-left mb-1">Phone number </label>
                                <input id="phone" name="phone" type="tel" placeholder="555-555-5555" class="w-full px-3 py-2 border rounded" />
                            </div>
                            <div class="mb-4">
                                <label for="message" class="block text-left mb-1">Message (provide a brief description of your demands)</label>
                                <textarea required id="message" name="message" rows="4" placeholder="" class="w-full px-3 py-2 border rounded"></textarea>
                            </div>
                            <div class="mb-4">
                                <div class="flex items-center">
                                    <input class="mr-2" id="consent" name="consent" type="checkbox" required />
                                    <label for="consent" class="text-left">I allow this website to store my submission so they can respond to my inquiry. <span class="text-red-500">*</span></label>
                                </div>
                            </div>
                            <button type="submit" class="w-full bg-gray-700 text-white hover:bg-gray-900 py-2 px-4 rounded">Submit</button>
                            <input type="hidden" name="form_id" value="your_form_id">
                            <input type="hidden" name="next_page" value="https://pedro-garcia.b12sites.com/index#success">
                        </form>
                        <div class="b12-form-error hidden">Sorry, we were not able to submit the form. Please review the errors and try again.</div>
                    </div>
                </div>
            </div>
            <div class="lg:w-1/12"></div>
            <div class="w-full lg:w-1/3">
                <div class="text-left justify-left px-4 py-6">
                    <div class="bg-gray-200 px-4 py-6" data-aos="slide-up" data-aos-offset="120" data-aos-delay="0" data-aos-duration="400" data-aos-easing="ease-in-out" data-aos-once="true">
                        <div class="">
                            <div class="h3 text-lg font-semibold mb-2">Get in touch</div>
                            <div class="contact-details__phone mb-4">
                                <a aria-label="Call us" class="tel text-grey-900 hover:underline" href="tel:+5512982242629">{{global_data["phone"]}}</a>
                            </div>
                            <div class="contact-details__email mb-4">
                                <a aria-label="Email us at pedrofsg.misc@gmail.com" class="email text-grey-900 hover:underline" href="mailto:{{global_data['email']}}">{{global_data['email']}}</a>
                            </div>
                        </div>
                        
                        <div class="contact-details__row contact-details__location mb-4">
                            <div class="h3 contact-details__title text-lg font-semibold">Location</div>
                            <p class="adr contact-details__address">
                                <a aria-label="Our location at São José dos Campos, SP BR" href="https://www.google.com/maps/place/+São+José+dos+Campos+SP+BR" rel="noreferrer" target="_blank" class="text-grey-900 hover:underline">
                                    <span>{{global_data['address']}}</span>
                                </a>
                            </p>
                        </div>
                        
                        <div class="text-center">
                            <div class="h3 contact-details__title text-lg font-semibold">Hours</div>
                            <table class="table-auto border-collapse w-full">
                                <tbody >
                                  <tr class="px-4 py-2 text-center">
                                    <td>Mon</td>
                                    <td>9:00 am</td>
                                    <td>–</td>
                                    <td>10:00 pm</td>
                                  </tr>
                                  <tr class="px-4 py-2 text-center">
                                    <td>Tue</td>
                                    <td>9:00 am</td>
                                    <td>–</td>
                                    <td>10:00 pm</td>
                                  </tr>
                                  <tr class="px-4 py-2 text-center">
                                    <td>Wed</td>
                                    <td>9:00 am</td>
                                    <td>–</td>
                                    <td>10:00 pm</td>
                                  </tr>
                                  <tr class="px-4 py-2 text-center">
                                    <td>Thu</td>
                                    <td>9:00 am</td>
                                    <td>–</td>
                                    <td>10:00 pm</td>
                                  </tr>
                                  <tr class="px-4 py-2 text-center">
                                    <td>Fri</td>
                                    <td>9:00 am</td>
                                    <td>–</td>
                                    <td>10:00 pm</td>
                                  </tr>
                                  <tr class="px-4 py-2 text-center">
                                    <td>Sat</td>
                                    <td>9:00 am</td>
                                    <td>–</td>
                                    <td>6:00 pm</td>
                                  </tr>
                                  <tr class="px-4 py-2 text-center">
                                    <td>Sun</td>
                                    <td>9:00 am</td>
                                    <td>–</td>
                                    <td>12:00 pm</td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>


{% endblock %}