{% extends 'base.html' %}

{% block content %}
<section id="mobile_development_section" class="bg-fixed bg-cover bg-center">
    <div class="container mx-auto px-4 py-32 items-center justify-center">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
            <!-- Imagem -->
            <div data-aos="fade-in" data-aos-offset="120" data-aos-duration="400">
                <img src="https://cdn.b12.io/client_media/GidfkLdi/361911b0-bd54-11ef-96ee-0242ac110002-jpg-hero_image.jpeg"
                    alt="Web development, responsive design, user friendly, Python, Flask"
                    class="w-full h-auto rounded-lg shadow-lg" />
            </div>
            <!-- Texto -->
            <div class="space-y-6">
                <!-- Título -->
                <h2 class="text-3xl md:text-4xl font-bold text-gray-800" data-aos="slide-up" data-aos-offset="120"
                    data-aos-duration="400">
                    Mobile Development
                </h2>
                <!-- Parágrafo -->
                <p class="text-lg text-gray-600 leading-relaxed" data-aos="slide-up" data-aos-offset="120"
                    data-aos-delay="100" data-aos-duration="400">
                    Elevate your mobile presence with innovative mobile development solutions. At Pedro Garcia, I
                    specialize in creating intuitive and engaging mobile applications that cater to your specific
                    requirements. Leveraging technologies such as Kotlin and Java, I develop applications that not only
                    look stunning but also deliver outstanding performance across a variety of devices. Every app is
                    designed with the user in mind, ensuring a seamless and enjoyable experience. From
                    concept to deployment, I work closely with you to bring your ideas to
                    fruition, focusing on functionality and user engagement. Let’s collaborate to turn your vision into
                    a reality and make a significant impact on your users’ daily lives.
                </p>
                <!-- Botão -->
                <div data-aos="slide-up" data-aos-offset="120" data-aos-delay="200" data-aos-duration="400">
                    <a href="/schedule"><button
                            class="text-lg font-large bg-gray-800 text-white hover:bg-gray-200 hover:text-black font-bold py-2 px-4 border hover:border-transparent">
                            Schedule appointment
                        </button></a>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}