{% extends 'base.html' %}

{% block content %}
<section id="sb-id-5082ac71-da46-484e-8bdf-e0aab182c698" class="bg-fixed bg-cover bg-center">
    <div class="container mx-auto px-4 py-32 items-center justify-center">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
            <!-- Imagem -->
            <div data-aos="fade-in" data-aos-offset="120" data-aos-duration="400">
                <img src="https://cdn.b12.io/client_media/GidfkLdi/361911b0-bd54-11ef-96ee-0242ac110002-jpg-hero_image.jpeg"
                    alt="Web development, responsive design, user friendly, Python, Flask"
                    class="w-full h-auto rounded-lg shadow-lg" />
            </div>
            <!-- Texto -->
            <div class="space-y-6">
                <!-- Título -->
                <h2 class="text-3xl md:text-4xl font-bold text-gray-800" data-aos="slide-up" data-aos-offset="120"
                    data-aos-duration="400">
                    Mobile Development
                </h2>
                <!-- Parágrafo -->
                <p class="text-lg text-gray-600 leading-relaxed" data-aos="slide-up" data-aos-offset="120"
                    data-aos-delay="100" data-aos-duration="400">
                    Transform your digital presence with exceptional web development solutions. At Pedro Garcia, I
                    leverage my expertise in Python, Flask, HTML, and CSS to create responsive and user-friendly
                    websites tailored to your needs. Each project reflects a commitment to quality and performance,
                    ensuring that your website doesn’t just look great but also functions seamlessly across all devices.
                    Whether you’re an individual or a business, I focus on delivering an engaging user experience that
                    drives results. Let's work together to bring your vision to life and make a lasting impact on your
                    audience.
                </p>
                <!-- Botão -->
                <div data-aos="slide-up" data-aos-offset="120" data-aos-delay="200" data-aos-duration="400">
                    <a href="/schedule"><button
                        class="text-lg font-large bg-gray-800 text-white hover:bg-gray-200 hover:text-black font-bold py-2 px-4 border hover:border-transparent">
                        Schedule appointment
                    </button></a>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}